@(lista: List[Menu])

@import helper._

@main("Control Acceso Usuarios") {
    
<h2> <image src="@routes.Assets.at("images/menu.png")"> Lista de Opciones de Menu </h2>

@if(flash.containsKey("success")) {
	<h3 style="color: green">
		<image src="@routes.Assets.at("images/ok.gif")">
		@flash.get("success")
	</h3>
} 

<table class='webgrid'>
	<tr class='webgrid-header'>
		<th>ID</th>
		<th>Nombre</th>
		<th>Raiz</th>
		<th>Orden</th>
		<th>Creado</th>
		<th>Modificado</th>
		<th></th>
		<th></th>
	</tr>

	@for(registro <- lista) {
	<tr class='webgrid-row-style'>
		<td>@registro.id</td>
		<td>@registro.name</td>
		<td>@registro.raiz</td>
		<td>@registro.orden</td>
		<td>@registro.created.format("dd/MM/yyyy - hh:mm")</td>
		<td>@registro.updated.format("dd/MM/yyyy - hh:mm")</td>
		<td><a href="@routes.Menus.edit(registro.id)"> <input type="button" value="Editar"> </a></td>
		<td>
			@form(routes.Menus.delete(registro.id)) {
				<input type="submit" value="Eliminar">
			}
		</td>
	</tr>
	}
</table>

<a href="@routes.Menus.create()"> <input type="button" value="Crear"> </a>

}
