@(formulario: Form[MenuTipousuario])
@import helper._

@implicitFieldConstructor = @{ FieldConstructor(views.html.include.fieldConstructorInput.render) }

@main("Control Acceso Usuarios") {

<h2> Nuevo Control de Acceso </h2>

@form(routes.MenuTipousuarios.save()) {
	<fieldset>
        @select(
			formulario("menu.id"), 
            options(Menu.options), 
            '_label -> "Opcion Menu:",
            '_showConstraints -> false)
        @select(
			formulario("tipousuario.id"), 
            options(Tipousuario.options), 
            '_label -> "Tipo Usuario  :",
            '_showConstraints -> false)
	</fieldset>
    
    <input type="submit" value="Crear"> -
	<a href="@routes.MenuTipousuarios.index"> <input type="button" value="Cancelar"> </a>
}
    
}
