@(lista: List[MenuTipousuario])

@import helper._

@main("Control Acceso Usuarios") {
    
<h2> <image src="@routes.Assets.at("images/control.png")"> Listado de Accesos </h2>

@if(flash.containsKey("success")) {
	<h3 style="color: green">
		<image src="@routes.Assets.at("images/ok.gif")">
		@flash.get("success")
	</h3>
} 

<table class='webgrid'>
	<tr class='webgrid-header'>
		<th>ID</th>
		<th>Opcion Menu</th>
		<th>Tipo Usuario</th>
		<th>Creado</th>
		<th>Modificado</th>
		<th></th>
		<th></th>
	</tr>

	@for(registro <- lista) {
	<tr class='webgrid-row-style'>
		<td>@registro.id</td>
		<td>@registro.getMenu(registro.menu.id).name</td>
		<td>@registro.getTipousuario(registro.tipousuario.id).name</td>
		<td>@registro.created.format("dd/MM/yyyy - hh:mm")</td>
		<td>@registro.updated.format("dd/MM/yyyy - hh:mm")</td>
		<td><a href="@routes.MenuTipousuarios.edit(registro.id)"> <input type="button" value="Editar"> </a></td>
		<td>
			@form(routes.MenuTipousuarios.delete(registro.id)) {
				<input type="submit" value="Eliminar">
			}
		</td>
	</tr>
	}
</table>

<a href="@routes.MenuTipousuarios.create()"> <input type="button" value="Crear"> </a>

}
