@(id: Long, formulario: Form[Usuario])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(views.html.include.fieldConstructorInput.render) }

@main("Control Acceso Usuarios") {

<h2> Editar Usuario del Sistema </h2>

@form(routes.Usuarios.update(id)) {
	<fieldset>
		@inputText(formulario("id"), 'readonly -> "readonly",         '_label -> "ID                    :")
		@inputText(formulario("name"),'_showConstraints -> false,     '_label -> "Nombre         :")
		@inputText(formulario("login"),'_showConstraints -> false,    '_label -> "Login              :")
		@inputText(formulario("password"),'_showConstraints -> false, '_label -> "Clave              :")
		@inputText(formulario("email"),'_showConstraints -> false,    '_label -> "eMail              :")
        @select(
			formulario("tipousuario.id"), 
            options(Tipousuario.options), 
            '_label -> "Tipo Usuario:",
            '_showConstraints -> false)
		@inputText(formulario("created"), '_showConstraints -> false, 'readonly -> "readonly", '_label -> "Creado         :")
		@inputText(formulario("updated"), '_showConstraints -> false, 'readonly -> "readonly", '_label -> "Modificado  :")
	</fieldset>
    
    <input type="submit" value="Guardar"> -
	<a href="@routes.Usuarios.index"> <input type="button" value="Cancelar"> </a>
}
    
}
